.summary {
  background: linear-gradient(135deg, #ddd, #ccc);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 32px 0;
  padding: 12px;
}

.results {
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
  overflow: hidden;
  margin: 2em auto 0;
}

@media screen and (max-width: 500px) {
  .results {
    flex-direction: column;
  }
}

.title {
  margin: 0 0 16px;
}

.list {
  padding-left: 16px;
  list-style: square;
}
