html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border: 1px solid #999;
  border-radius: 4px;
  line-height: 1;
  padding: 4px 8px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  padding: 8px 12px;
}

.container {
  padding: 16px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    padding: 32px;
    width: 750px;
  }
}
