html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-size: 20px;
}

input {
  border: 1px solid #999;
  border-radius: 4px;
  padding: 4px 8px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  padding: 4px 12px;
}

.App {
  text-align: center;
}

.results {
  overflow: hidden;
  margin: 2em auto 0;
  display: inline-block;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
